REACT_APP_FIREBASE_API_KEY=AIzaSyCbG7Wm8xVJUGAw0Z2b6B3_WMqCXPY__sk
REACT_APP_FIREBASE_AUTH_DOMAIN=chime-by-roam.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=chime-by-roam
REACT_APP_FIREBASE_STORAGE_BUCKET=chime-by-roam.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=835544794985
REACT_APP_FIREBASE_APP_ID=1:835544794985:web:7a12894d7d9e2e99ecdff8
REACT_APP_FIREBASE_MEASUREMENT_ID=G-JWFQ59K5T2
